.homePage_wrapper{
  .bg_wrapper{
    width: 100%;
    background: rgb(253, 232, 250);
    height: 100vh;
    h1{
      font-size: 80px;
      letter-spacing: 2px;
      padding: 200px 160px;
    }
    .demoLogin{
      position: absolute;
      top: 30px;
      right: 100px;
      border: #fff;
      .avatar{
        cursor: pointer;
      }
    }
    // .dropdownMenu{
    //   .menu {
    //     padding: 15px 12px !important ;
    //   }
    // }
  }
}
  