.homePage_wrapper{
  .bg_wrapper{
    width: 100%;
    background: rgb(253, 232, 250);
    height: 100vh;
    h1{
      font-size: 80px;
      letter-spacing: 2px;
      padding: 200px 160px;
    }
    .demoLogin{
      position: absolute;
      top: 30px;
      right: 50px;
      box-shadow: 1px 1px 10px 1px #ebebeb;
      border: #fff;
    }

  }
}
  