.loginWrapper{
    width: 100%;
    margin: 100px auto 0;
    height: auto;
    .login_title{
        padding-top: 30px;
        text-align: center;
        font-weight: 300;
        h2{
            font-size: 40px;
            margin:0;
            font-weight: 100;
            strong{
                font-weight: 600;
            }
        }
        .login_title_des{
            margin: 10px 0 20px;
            font-size: 17px;
            color: #666;
        }
    }
    .oauth_platform{
        width: 360px;
        margin: 0 auto 35px;
        .btnWrapper{
            display: flex;
            justify-content: space-between;
            .signinGoogle{
                width:45%;
                height: 40px;
                line-height: 40px;
                box-shadow: 0 1px 4px rgba(0,0,0,0.3);
                margin: 15px 0;
                padding-left: 25px;
                color: rgba(0,0,0,0.54);
                background: #fff;
                font-size: 14px;
                font-weight: 500;
                cursor: pointer;
                overflow: hidden;
                &:hover{
                  background-color: #f9f9f9;
                }
                .google{
                  width: 20px;
                  height: 20px;
                  line-height: 20px;
                  margin-right: 16px;
                  margin-bottom: 5px;
                }
            }
        }
    }

}